// sass --watch sass/main.scss styles/styles.css
html { background: red !important; }

@use "variables";
@use "header";
@use "footer";
@use "home";
@use "hotel";
@use "habitaciones";
@use "actividades";
@use "contacto";
